services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    restart: unless-stopped
    command: tunnel --no-autoupdate --loglevel warn run --url http://localhost:${NGINX_PORT} --token ${TUNNEL_TOKEN}
    network_mode: 'service:nginx'
