@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@font-face {
  font-family: 'AckiPreschool';
  src: url('./font/acki-preschool/AckiPreschool.ttf') format('truetype'),
    url('./font/acki-preschool/AckiPreschool.otf') format('opentype');
}
@font-face {
  font-family: 'BrownBagLunch';
  src: url('./font/brownbaglunch/BrownBagLunch.ttf') format('truetype'),
    url('./font/brownbaglunch/BrownBagLunch.otf') format('opentype');
}
@font-face {
  font-family: 'Children';
  src: url('./font/children/Children.ttf') format('truetype'),
    url('./font/children/Children.otf') format('opentype');
}
@font-face {
  font-family: 'DadHand';
  src: url('./font/dadhand/dadha___.ttf') format('truetype');
}
@font-face {
  font-family: 'Daniel';
  src: url('./font/daniel/danielfont/DanielFont.ttf') format('truetype');
}
@font-face {
  font-family: 'OhMaria';
  src: url('./font/ohmaria/OhMaria.ttf') format('truetype'),
    url('./font/ohmaria/OhMaria.otf') format('opentype');
}
@font-face {
  font-family: 'PopcornMountain';
  src: url('./font/popcorn-mountain/Popcorn_Mountain--Standard.otf')
      format('opentype'),
    url('./font/popcorn-mountain/Popcorn_Mountain--Standard.ttf')
      format('truetype');
}
@font-face {
  font-family: 'SchoolTeacher';
  src: url('./font/school-teacher/SchoolTeacher-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SierraNevadaRoad';
  src: url('./font/sierra-nevada-road/SierraNevadaRoad.otf') format('opentype'),
    url('./font/sierra-nevada-road/SierraNevadaRoad.ttf') format('truetype');
}
@font-face {
  font-family: 'TheDogAteMyHomework';
  src: url('./font/the-dog-ate-my-homework/TheDogAteMyHomework.otf')
      format('opentype'),
    url('./font/the-dog-ate-my-homework/TheDogAteMyHomework.ttf')
      format('truetype');
}
@font-face {
  font-family: 'ThinPencilHandwriting';
  src: url('./font/thin-pencil-handwriting/Thin Pencil Handwriting.otf')
      format('opentype'),
    url('./font/thin-pencil-handwriting/Thin Pencil Handwriting.ttf')
      format('truetype');
}
@font-face {
  font-family: 'WCManoNegraBta';
  src: url('./font/wc-mano-negra-bta/WCManoNegraBta.ttf') format('truetype');
}
@font-face {
  font-family: 'Yahfie';
  src: url('./font/yahfie/Yahfie-Normal.ttf') format('truetype'),
    url('./font/yahfie/Yahfie-Normal.otf') format('opentype');
}

:root {
  --pen-black: #2c3e50;
  --pen-blue: #3498db;
  --pen-red: #e74c3c;
  --paper-white: #ecf0f1;
  --grid-blue: #a9cce3;
}

body {
  background-color: var(--paper-white);
  background-image: linear-gradient(var(--grid-blue) 1px, transparent 1px),
    linear-gradient(to right, var(--grid-blue) 1px, var(--paper-white) 1px);
  background-size: 20px 20px;
  font-family: 'Children', sans-serif;
  color: var(--pen-black);
}

button {
  background-color: var(--pen-blue);
  color: var(--paper-white);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Children', sans-serif;
}

button:hover {
  background-color: #2980b9;
}

input {
  border: none;
  border-bottom: 2px solid var(--pen-black);
  padding: 10px;
  border-radius: 0;
  font-family: 'TheDogAteMyHomework', sans-serif;
  background-color: transparent;
  color: var(--pen-black);
}
